{% for slot in timeslots %}
    <div class="time-slot edit-form-create" data-path="{{ path('back-office_timeslot_form_edit', { 'id': slot.id }) }}">
        {{ slot.startHour }}h{{ slot.startMinute }} {{ slot.endHour }}h{{ slot.endMinute }} {{ slot.dayOfWeek }}
    </div>
{% endfor %}