<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="stylesheet" href="{{ asset('css/main.css') }}">
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    <li><a href="{{ path('_home') }}">Home</a></li>
                    <li><a href="{{ path('_maid') }}">Maids</a></li>
                    <li><a href="{{ path('_event') }}">Events</a></li>
                    <li>
                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                            {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
                            <a href="{{ path('fos_user_security_logout') }}">
                                {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                            </a> |
                            <a href="{{ path('fos_user_profile_show') }}">Profile</a>
                        {% else %}
                            <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
                        {% endif %}
                    </li>
                </ul>
            </nav>
        </header>
        {% block body %}{% endblock %}
        <footer>
            footer
        </footer>
        {% block javascripts %}{% endblock %}
        <script
                src="https://code.jquery.com/jquery-3.1.1.slim.min.js"
                integrity="sha256-/SIrNqv8h6QGKDuNoLGA4iret+kyesCkHGzVUUV0shc="
                crossorigin="anonymous">

        </script>
        <script src="{{ asset('js/main.js') }}"></script>
    </body>
</html>
