<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="stylesheet" href="{{ asset('css/main.css') }}">
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css"/>
        <!-- Add the slick-theme.css if you want default styling -->
        <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick-theme.css"/>
    </head>
    <body>
        <header>
            <nav>
                <ul class="header__nav">
                    <li><a class="nav__link--logo" href="{{ path('_home') }}"> LOGO </a></li>
                    <li><a class="nav__link" href="{{ path('_home') }}"> HOME </a></li>
                    <li><a class="nav__link" href="{{ path('_maid') }}"> MAIDS </a></li>
                    <li><a class="nav__link" href="{{ path('_services') }}"> SERVICES </a></li>
                    <li><a class="nav__link" href="{{ path('_contact') }}"> CONTACT </a></li>
                    <li>
                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                            {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
                            <a class="nav__link" href="{{ path('fos_user_security_logout') }}">
                                {{ 'layout.logout'|trans({}, 'FOSUserBundle') |capitalize}}
                            </a> |
                            <a  class="nav__link" href="{{ path('fos_user_profile_show') }}">PROFILE</a>
                        {% else %}
                            <a class="nav__link" href="{{ path('fos_user_security_login') }}">
                            LOG IN</a>
                        {% endif %}
                    </li>
                </ul>
            </nav>
        </header>
        
        <div class="body_container">

            <div class="side-bar side-bar__left">
                <img class="node-side" src="{{ asset('imgs/noeudside.png')}}" alt="">
                <img class="social-media" src="{{ asset('imgs/socialmedia.png')}}" alt="">
                <img class="node-side" src="{{ asset('imgs/noeudside.png')}}" alt="">

                <div class="our-maids__list">
                    <div class="list__title"> Our maids </div>
                    <ul>
                        {% for maid in maids %}
                            <li class="our-maid__name"> {{ maid.name }} </li>
                            <li> <img class="node-side maid-list" src="{{ asset('imgs/maidlist.png')}}" alt=""></li>
                        {% endfor %}
                    </ul>
                </div>

                <img class="node-side" src="{{ asset('imgs/noeudside.png')}}" alt="">
                
                <img class="node-side" src="{{ asset('imgs/pub1.png')}}" alt="">
            </div>

            <div class="body__content">
                {% block body %}{% endblock %}
            </div>

            <div class="side-bar side-bar__right">
                <img class="node-side" src="{{ asset('imgs/noeudside.png')}}" alt="">

                <div class="sponsors_list">
                    <div class="list__title"> Sponsors </div>
                    <img class="node-side" src="{{ asset('imgs/sponsors.png')}}" alt="">
                </div>

                <img class="node-side" src="{{ asset('imgs/noeudside.png')}}" alt="">

                <div class="reviews_list">
                    {% for test in reviews %}
                        <li> <img class="node-side review-list" src="{{ asset('imgs/reviewlist.png')}}" alt=""></li>
                        <li class="review__content"> {{ test.comment }} </li>
                        
                    {% endfor %}
                </div>
            </div>

        </div>

        <footer>
            <div class="footer__map"></div>
            <div class="footer__container">
                <ul>
                    <li class="logo_Tei"></li>
                    <li>
                        <div class="footer__content--title"> Contact </div>
                        <div class="footer__content--content">01 69 43 52 17<br> contact@teishutsucafe.com</div>
                    </li>
                    <li>
                        <div class="footer__content--title"> Services </div>
                        <div class="footer__content--content">Reservation<br>My own maid</div>
                    </li>
                    <li>
                        <div class="footer__content--title"> Social Media </div>
                        <div class="footer__content--content">
                            <div class="logo logo-tw"></div>
                            <div class="logo logo-fb"></div>
                            <div class="logo logo-insta"></div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="footer_legal">
                <div> Copyright 2017 Teishutsu Cafe | Website by Hetic Kawaii </div>
                <div> Mentions Légales • Conditions Générales de Ventes </div>
            </div>
        </footer>
        {% block javascripts %}{% endblock %}
        <script
                src="https://code.jquery.com/jquery-3.1.1.slim.min.js"
                integrity="sha256-/SIrNqv8h6QGKDuNoLGA4iret+kyesCkHGzVUUV0shc="
                crossorigin="anonymous">

        </script>
        <script src="{{ asset('js/main.js') }}"></script>
        <script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>
        <script>
          $(function () {
            var slickOpts = {
                slidesToShow: 1,
                slidesToScroll: 1,
                dots: true,
                prevArrow: '.btn-prev',
                nextArrow: '.btn-next'
            };
            // Init the slick
            $('#dashboard').slick(slickOpts);
            var slickEnabled = true;
        });
      </script>
    </body>
</html>
