{% extends 'default/base.html.twig' %}

{% block body %}
    <h1>Kawaii Cafe home <i class="fa fa-heart" aria-hidden="true"></i></h1>
    <h2>Restaurants</h2>
    <ul>
        {% for restaurant in restaurants %}
            <li>
                <img src="{{ restaurant.profilePicture }}" width="150px "alt="">
                <p>name : {{ restaurant.name }}</p>
            </li>
        {% endfor %}
    </ul>
    <h2>Maids</h2>
    <ul>
        {% for maid in maids %}
            <li>
                <img src="{{ maid.profilePicture }}" width="150px "alt="">
                <p>name : {{ maid.name }}</p>
            </li>
        {% endfor %}
    </ul>
    <h2>Events</h2>
    <ul>
        {% for event in events %}
            <li>
                <img src="{{ event.profilePicture }}" width="150px "alt="">
                <p>name : {{ event.name }}</p>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
