{% extends 'default/base.html.twig' %}

{% block body %}
  <div class="home__container">
    <h1 class="cafe-name"> Teishutsu Cafe </h1>
      <h1 class="cafe-jap"> コーヒー提出 </h1>
  </div>

  <div class="home__description">
    <div class="home__description_container">
      <h2>★ Teishutsu Café, Best Maid french coffee in Tokyo ! ★</h2>
      <p>
        The Teishutsu Café is a unique place for those who wish to cut themselves off from the outside world for one or <br>Several evenings in a quirky and convivial atmosphere and come as they and they crave. <br>The only coffee in Paris with delicious and unique desserts, a cute cosplay and Jpop performances Daily life.
      </p>
     </div>
   </div>

   <div class="home__actualites">
     <div class="home__title"> ★ Events ★ </div>

     <div class="actualite__container">
       <div class="home__actualites_container">
           {% for event in events %}
               <a href="{{ path('event_show', {"id": event.id }) }}"></a>
             <div class="home__actualites_content">
               <img src="{{ asset(event.profilePicture.path) }}" />
               <h3>{{ event.name }}</h3>
               <p>{{ event.description }}</p>
             </div>
           {% endfor %}
      </div>
    </div>

  </div>

  <div class="home__information">
    <h2 class="home__title"> ★ Informations ★ Our Restaurants ★ </h2>

      {% for restaurant in restaurants %}
        <div class="home__information_container">
          <div class="home__information_content">
            <h3>{{ restaurant.name }}</h3>
            <p>{{ restaurant.address }}</p>
            <p>{{ restaurant.Description }}</p>
            {#<p>{{ dump(restaurant.timeSlots) }}</p>#}
          </div>
          <div class="home__information_content">
            <h3>Contact {{ restaurant.name }}</h3>
            <p>
              Téléphone : {{ restaurant.phone }}
            </p>
            <p>
              Mail : {{ restaurant.email }}
            </p>
          </div>
        </div>
      {% endfor %}
  </div>
  
{% endblock %}
