{% extends 'base.html.twig' %}

{% block body %}
    <h1>Images list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Image</th>
                <th>Name</th>
                <th>Path</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for image in images %}
            <tr>
                <td><a href="{{ path('images_show', { 'id': image.id }) }}">{{ image.id }}</a></td>
                <td><img src="{{ asset(image.path) | imagine_filter('my_thumb') }}" alt=""></td>
                <td>{{ image.name }}</td>
                <td>{{ image.path }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('images_show', { 'id': image.id }) }}">show</a>
                        </li>
                        <li>
                            {#<a href="{{ path('images_edit', { 'id': image.id }) }}">edit</a>#}
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('images_new') }}">Add a new image</a>
        </li>
    </ul>
{% endblock %}
