{% extends 'back-office/base.html.twig' %}

{% block body %}
    <h1>Events list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Start</th>
                <th>End</th>
                <th>Profilepicture</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for event in events %}
            <tr>
                <td><a href="{{ path('_event_show', { 'id': event.id }) }}">{{ event.id }}</a></td>
                <td>{{ event.name }}</td>
                <td>{{ event.description }}</td>
                <td>{% if event.start %}{{ event.start|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if event.end %}{{ event.end|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ event.profilePicture }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('_event_show', { 'id': event.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('_event_edit', { 'id': event.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('_event_new') }}">Create a new event</a>
        </li>
    </ul>
{% endblock %}
