{% extends 'default/base.html.twig' %}
{% block body %}
    <h1>Maid</h1>
    <ul>
        {% for maid in maids %}
            {#{{ dump(maid) }}#}
            <li>
                <img src="{{ maid.profilePicture }}" width="150px "alt="">
                <p>name : {{ maid.name }}</p>
                {% for review in maid.review %}
                    <p>Review {{ review.id }} : {{ review.comment }}</p>
                {% endfor %}
            </li>
        {% endfor %}
    </ul>
{% endblock %}