{% extends 'default/base.html.twig' %}

{% block body %}

    <div class="single-maid__header">
        <div class="maid__bloc--content">
            <img src="{{ asset(maid.profilePicture.path)}}" />
            <div class="maid__name">
              <p> {{ maid.maidName }} </p>
              <p class="maid__text-japonais">メイドの名簿 </p>
              <p> {{ maid.lastName }} </p>
            </div>
        </div>
    </div>

    <div class="single-maid__presentation">
        <div class="pres__title"> ★ Presentation ★ </div>
        <div class="pres__container">
            <div class="pres__content pres__content-1">
                <div class="pres__info">
                    <div class="info__title"> Birthday </div>
                    <div class="info__content"> {{ maid.birthDate | date("d/m") }} </div>
                </div>
                <div class="pres__info">
                    <div class="info__title"> Restaurant </div>
                    <div class="info__content"> {{ maid.restaurant.name }} </div>
                </div>
                <div class="pres__info">
                    <div class="info__title"> Favorite things </div>
                    <div class="info__content"> {{ maid.favoriteThings }}</div>
                </div>
                <div class="pres__info">
                    <div class="info__title"> Blood type </div>
                    <div class="info__content"> {{ maid.bloodType }} </div>
                </div>
                <div class="pres__info">
                    <div class="info__title"> Blog </div>
                    <div class="info__content"> {{ maid.blogUrl }} </div>
                </div>
                <div class="pres__info">
                    <div class="info__title"> Twitter </div>
                    <div class="info__content"> {{ maid.twitterUrl }} </div>
                </div>
                <div class="pres__info">
                    <div class="info__title"> Caractère</div>
                    <div class="info__content"> {{ maid.characterTrait.name }} </div>
                </div>
                <div class="pres_reviews">
                    Reviews :
                    {% for review in maid.review %}
                        <div class="pres_review">
                            {{ dump(review) }}
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div class="pres__content pres__content-2">
                <div class="pres__info">
                    <div class="info__title"> ★ Description ★ </div>
                    <div class="info__content"> {{ maid.description }} </div>
                </div>

                <div class="pres__info">
                    <div class="info__title"> Horaires </div>
                    <div class="info__content">
                        {% for slot in maid.timeslots %}
                            <b>{{ slot.dayOfWeek | date("l") }}</b>
                            {{ "%02d"|format(slot.startHour) }}h{{ "%02d"|format(slot.startMinute) }} - {{ "%02d"|format(slot.endHour) }}h{{ "%02d"|format(slot.endMinute) }}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="pres__album">
      <p>
        Album
      </p>
    <div id="dashboard">
        <div class="panel"><img src="../imgs/photo.png" /></div>
        <div class="panel"><img src="../imgs/maid1.png" /></div>
        <div class="panel"><img src="../imgs/maid2.png" /></div>
        <div class="panel"><img src="../imgs/maid3.png" /></div>
    </div>
  </div>




{% endblock %}
