{% extends 'default/base.html.twig' %}

{% block body %}
    
    {% for restaurant in restaurants %}
        <div class="restaurant">
            <p>{{ restaurant.name }}</p>
            <img src="{{ asset(restaurant.profilePicture) }}" alt="">
            <div class="timetable">
                {% for slot in restaurant.timeslot %}
                    <b>{{ slot.dayOfWeek | date("l") }}</b>
                    {{ "%02d"|format(slot.startHour) }}h{{ "%02d"|format(slot.startMinute) }} - {{ "%02d"|format(slot.endHour) }}h{{ "%02d"|format(slot.endMinute) }}
                {% endfor %}
            </div>
        </div>
    {% endfor %}

{% endblock %}