{% extends 'back-office/base.html.twig' %}
{% block body %}
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h1>Maid list</h1>
        </div>
        <div class="panel-body">
            <table class="table">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                </tr>
                </thead>
                <tbody>
                {% for maid in maids %}
                    <tr>
                        <td><a href="{{ path('_maid_show', { 'id': maid.id }) }}">{{ maid.id }}</a></td>
                        <td>{{ maid.name }}</td>
                        <td>
                            <a href="{{ path('_maid_show', { 'id': maid.id }) }}"><button type="button" class="btn btn-lg btn-primary">Show</button></a>
                            <a href="{{ path('_maid_edit', { 'id': maid.id }) }}"><button type="button" class="btn btn-lg btn-warning">Edit</button></a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <ul class="list-group">
                <li class="list-group-item">
                    <a href="{{ path('_maid_new') }}"><button type="button" class="btn btn-lg btn-success">Create a new maid</button></a>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}
