{% extends 'back-office/base.html.twig' %}

{% block body %}
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h1>Maid informations</h1>
        </div>
        <div class="panel-body">
            <table class="table">
                <tbody>
                    <tr>
                        <th>Name</th>
                        <td>{{ maid.name }}</td>
                    </tr>
                    <tr>
                        <th>Last name</th>
                        <td>{{ maid.lastName }}</td>
                    </tr>
                    <tr>
                        <th>Birth date</th>
                        <td>{{ maid.birthDate | date('d/m/Y') }}</td>
                    </tr>
                    <tr>
                        <th>Address</th>
                        <td>{{ maid.address }}</td>
                    </tr>
                    <tr>
                        <th>Phone</th>
                        <td>{{ maid.Phone }}</td>
                    </tr>
                    <tr>
                        <th>Email</th>
                        <td>{{ maid.email}}</td>
                    </tr>
                </tbody>
            </table>
         </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h1>Maid public profile ♥️  ✨ </h1>
        </div>
        <div class="panel-body">
            <table class="table">
                <tbody>
                    <tr>
                        <th>Maid name</th>
                        <td>{{ maid.maidName }}</td>
                    </tr>
                    <tr>
                        <th>Description</th>
                        <td>{{ maid.description}}</td>
                    </tr>
                    <tr>
                        <th>Blood type</th>
                        <td>{{ maid.bloodType}}</td>
                    </tr>
                    <tr>
                        <th>Restaurant</th>
                        <td>{{ maid.restaurant.name }}</td>
                    </tr>
                    <tr>
                        <th>FavoriteThings</th>
                        <td>{{ maid.favoriteThings}}</td>
                    </tr>
                    <tr>
                        <th>Blog</th>
                        <td>{{ maid.blogUrl}}</td>
                    </tr>
                    <tr>
                        <th>Twitter</th>
                        <td>{{ maid.twitterUrl}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="panel panel-primary maid-schedule">
        <div class="panel-heading">
            <h1>Maid weekly schedule </h1>
        </div>
        <div id="schedule">
            {% include 'back-office/timeslot/schedule.html.twig'%}
        </div>
        <div class="forms">
            <button class="btn btn-success new">New work session</button>
            <button class="btn btn-warning edit">Edit</button>
            <div id="edit-form" class="form hidden">
                {% if maid.timeslots | length > 0 %}
                    {% include 'back-office/timeslot/edit.html.twig' with {'timeslot_to_edit' : timeslot_to_edit, 'form' : edit_form, 'delete_form' : delete_form }  %}
                {% endif %}
            </div>
            <div id="new-form" class="form">
                {% include ':back-office/timeslot:new.html.twig' with {'form' : create_form }  %}
            </div>
        </div>
    </div>
    <ul class="list-group">
        <li class="list-group-item">
            <a href="{{ path('back-office_maid_index') }}"><button type="button" class="btn btn-lg btn-primary">Back to the list</button></a>
        </li>
        <li class="list-group-item">
            <a href="{{ path('back-office_maid_edit', { 'id': maid.id }) }}"><button type="button" class="btn btn-lg btn-warning">Edit</button></a>
        </li>
        <li class="list-group-item">
            {{ form_start(delete_form) }}
            <input type="submit" value="Delete" class="btn btn-lg btn-danger" />
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}



