{% extends 'base.html.twig' %}

{% block body %}
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h1>Maid</h1>
        </div>
        <div class="panel-body">

            <table class="table">
                <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ employee.id }}</td>
                </tr>
                <tr>
                    <th>Name</th>
                    <td>{{ employee.name }}</td>
                </tr>
                </tbody>
            </table>

            <ul class="list-group">
                <li class="list-group-item">
                    <a href="{{ path('_maid_index') }}"><button type="button" class="btn btn-lg btn-primary">Back to the list</button></a>
                </li>
                <li class="list-group-item">
                    <a href="{{ path('_maid_edit', { 'id': employee.id }) }}"><button type="button" class="btn btn-lg btn-warning">Edit</button></a>
                </li>
                <li class="list-group-item">
                    {{ form_start(delete_form) }}
                    <input type="submit" value="Delete" class="btn btn-lg btn-danger" />
                    {{ form_end(delete_form) }}
                </li>
            </ul>
        </div>
    </div>
{% endblock %}
