<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="stylesheet" href="{{ asset('css/bo-main.css') }}">
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
    <div id="wrapper">
        <div class="overlay"></div>
        <!-- Sidebar -->
        <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
            <ul class="nav sidebar-nav">
                <li class="sidebar-brand">
                    <a href="{{ path('back-office_index') }}">
                       Teishustsu Cafe <i class="fa fa-coffee"></i>
                    </a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <i class="fa fa-fw fa-cutlery"></i> Restaurants<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li class="dropdown-header">Manage your restaurants</li>
                        <li><a href="{{ path('back-office_restaurant_index') }}">List of your restaurants</a></li>
                        <li><a href="{{ path('back-office_restaurant_new') }}">Create a new restaurant</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <i class="fa fa-fw fa-sign-language"></i>Events<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li class="dropdown-header">Manage events by restaurant</li>
                        <li><a href="{{ path('back-office_event_index') }}">List of all your events</a></li>
                        <li><a href="{{ path('back-office_event_new') }}">Create a new event</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <i class="fa fa-fw fa-heart-o"></i> Maids <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li class="dropdown-header">Manage your maids</li>
                        <li><a href="{{ path('back-office_maid_index') }}">See all Maids</a></li>
                        <li><a href="{{ path('back-office_maid_new') }}">Create a new maid</a></li>
                        <li class="dropdown-header">Character Traits</li>
                        <li><a href="{{ path('back-office_charactertrait_index') }}">See existant traits</a></li>
                        <li><a href="{{ path('back-office_charactertrait_new') }}">Add new Trait</a></li>
                        <li class="dropdown-header">Ranks</li>
                        <li><a href="{{ path('back-office_rank_index') }}">See all ranks</a></li>
                        <li><a href="{{ path('back-office_rank_new') }}">Add new rank</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <i class="fa fa-fw fa-picture-o"></i>Galleries & Images<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li class="dropdown-header">Galleries</li>
                        <li><a href="{{ path('galleries_index') }}">See galleries</a></li>
                        <li><a href="{{ path('galleries_new') }}">Create a new gallery</a></li>
                        <li class="dropdown-header">Images</li>
                        <li><a href="{{ path('images_index') }}">See all images</a></li>
                        <li><a href="{{ path('images_new') }}">Upload an image</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#"><i class="fa fa-fw fa-bank"></i> Page four</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-fw fa-dropbox"></i> Page 5</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-fw fa-twitter"></i> Last page</a>
                </li>
            </ul>
        </nav>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
             {% block body %}{% endblock %}
        </div>
        {% block javascripts %}{% endblock %}
        <script
                src="https://code.jquery.com/jquery-3.1.1.min.js"
                integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
                crossorigin="anonymous">
        </script>
        <script src="{{ asset('js/main.js') }}"></script>
    </body>
</html>
