{% extends 'base.html.twig' %}

{% block body %}
    <h1>Timeslots list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Starttime</th>
                <th>Endtime</th>
                <th>Dayofweek</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for timeSlot in timeSlots %}
            <tr>
                <td><a href="{{ path('timeslot_show', { 'id': timeSlot.id }) }}">{{ timeSlot.id }}</a></td>
                <td>{% if timeSlot.startTime %}{{ timeSlot.startTime|join(', ') }}{% endif %}</td>
                <td>{% if timeSlot.endTime %}{{ timeSlot.endTime|join(', ') }}{% endif %}</td>
                <td>{{ timeSlot.dayOfWeek }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('timeslot_show', { 'id': timeSlot.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('timeslot_edit', { 'id': timeSlot.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('timeslot_new') }}">Create a new timeSlot</a>
        </li>
    </ul>
{% endblock %}
