{% extends 'base.html.twig' %}

{% block body %}
    <h1>Timeslot</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ timeSlot.id }}</td>
            </tr>
            <tr>
                <th>Starttime</th>
                <td>{% if timeSlot.startTime %}{{ timeSlot.startTime|join(', ') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Endtime</th>
                <td>{% if timeSlot.endTime %}{{ timeSlot.endTime|join(', ') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Dayofweek</th>
                <td>{{ timeSlot.dayOfWeek }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('timeslot_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('timeslot_edit', { 'id': timeSlot.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
